<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Enade</title>
	   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" type="text/javascript"></script>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
 
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>

	<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Tabela:</a>
		     		    </div>
		</nav>
	
	</header>

<table id="example" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Nota</th>                            
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Aluno</th>
                <th>Nota</th>  
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Pablo</td>
                <td>100</td>
               </tr>
            <tr>
                <td>Tiago</td>
                <td>100</td>              
            </tr>
             <tr>
                <td>Rogerio</td>
                <td>100</td>
               </tr>
            <tr>
                <td>Joao</td>
                <td>80</td>              
            </tr>
          
           <tr>
                <td>Pedro</td>
                <td>80</td>
               </tr>
            <tr>
                <td>Rodrigo</td>
                <td>90</td>              
            </tr>
          
           <tr>
                <td>Rafael</td>
                <td>98</td>
               </tr>
            <tr>
                <td>Daniel</td>
                <td>87</td>              
            </tr>
             <tr>
                <td>Roberto</td>
                <td>98</td>
               </tr>
            <tr>
                <td>Marcelo</td>
                <td>87</td>              
            </tr>
          
          
        </tbody>
    </table>
    <script>
 $('#example').dataTable({
               
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'Excel',
                        text:'Exportar para excel'
                       
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'PDF',
                        text: 'Exportar para pdf'
                      
                    }
                ]
            });
				</script>



	

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>


</html>